#theme_select {
background: #fff;
position: absolute;
z-index: 1;
top: 10px;
left: 10px;
border-radius: 3px;
width: 180px;
border: 1px solid rgba(0, 0, 0, 0.4);
font-family: 'Open Sans', sans-serif;
}
 
#theme_select a {
font-size: 13px;
color: #404040;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}
 
#theme_select a:last-child {
border: none;
}
 
#theme_select a:hover {
background-color: #f8f8f8;
color: #404040;
}
 
#theme_select a.active {
background-color: #3887be;
color: #ffffff;
}
 
#theme_select a.active:hover {
background: #3074a4;
}